
//div要素を上下中央寄せするクラス
.justfy-center{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
}

//フォーム！
.form{
    border: solid 1px $mainColor;
    background-color: $mainColor;
    color:$subColor;
    border-radius: 4px;
    padding:30px;

    //見出し
    &__header{
        text-align: center;
    }

    //一行分のブロック要素
    &__row{
        padding:20px 0;
    }

    //入力するエリア
    &__input{
        display: flex;
        align-items: center;
    }

    //コントロール要素のタイトル
    &__title{
        width:100px;
    }

    //コントロール要素のコンテナ
    &__controls{
        width:600px;
    }

    //コントロール要素
    &__control{
       border: 1px solid $mainColor;
       background: $inputColor;
       border-radius: 4px;
       padding:20px;
       color:$subColor;
    }

    //エラー情報
    &__error{
        color:red;
    }

    //エラー情報
    &__notify{
        padding:20px 10px;
    }

    //ボタンとか置く
    &__footer{
        text-align: right;
    }




}